.scroll-content{
  overflow: hidden;
}
.login-content {
  color: grey;
}
.login-content .header{
  text-align: center;
  alignment: center;
  margin-top: 20%;
  padding: 10%;
  padding-bottom: 0%;
  font-size: 20px;
  color: red;
}
.login-content .input-field {
  padding: 5px;
  margin: 5%;
  alignment: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.login-content .ion-input {
  alignment: center;

}
.login-content .button-area {
  text-align: center;
  padding-left: 10%;
  width: 80%;
}
.login-content .button {
  text-align: center;
  width: 100%;
}
