.tabbar {
  background: linear-gradient(color($colors, gradientStop), color($colors, gradientStart)) !important;
}

.blurred {
  filter: url(#blur-filter);
}

#onboarding {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5%;
  background: rgba(50, 50, 50, 0.5);

  svg { display: none; }

  .card {
    margin: auto;
    height: 100%;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
  }

  .slides {
    .swiper-slide { padding: 1em 4em; }
    .swiper-pagination-bullet {
      background: color($colors, secondary);
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background: color($colors, primary);
    }

    h1 {
      font-size: large;
      font-weight: bold;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 1rem;
    }
  }
}
