page-enterQuestion {

  .fixed {
    width: 100%;
    height: 100%;
    background: white;
  }

  .bubble {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 0 10px;
    position: relative;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    background-color: color($colors, primary);
    border: 1px solid #15d7a9;
  }

  .bubble:before {
    position: absolute;
    bottom: -28px;
    content:url('../assets/icon/lasche_gruen.svg');
    right: -1px;
  }

  .input, .select {
    max-width: 100% !important;
    border-radius: 6px;
    background: white;
    margin-top: 10px;
    margin-bottom: 10px;

    textarea {
      padding: 8px;
      margin: 0;
    }
  }

  .button {
    position: relative;
    float: right;
  }

}
