page-enterQuestion {

  .bubble {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 0 10px;
    position: relative;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: color($colors, primary);
    border: 1px solid darken(color($colors, primary), 10%);
    
    .lasche {
      position: absolute;
      right: -1px;
      bottom: -25px;
      width: 30px;
      fill: color($colors, primary);
      stroke: darken(color($colors, primary), 10%);
      transform: scale(-1,1);
    }
  }

  .input, .select {
    max-width: 100% !important;
    border-radius: 6px;
    background: white;
    margin-top: 10px;
    margin-bottom: 10px;

    textarea {
      padding: 8px;
      margin: 0;
    }
  }

  .button {
    position: relative;
    float: right;
  }

}
