page-main {

  .logo {
    height: 1.8em;
    margin: auto;
  }

  .grid {
    height: 100%;
  }

  .spacer {
    flex: 1;
  }

  .buttons {
    flex: 4;
  }

  img, svg {
    width: 80%;
    margin-bottom: 1em;
  }

  .icon-character {
    fill: color($colors, greenDark);
  }

  .news-badge {
    fill: color($colors, danger);
  }
}
