page-mainMenu {

  .button {
    width: 100%;
    height: 100%;

    .button-container {
      margin: auto;

      .image {
        width: 10rem;
        height: 10rem;
        color: white;
        background-color: white;
      }

      .button-text {
        height: 30%;
      }
    }

  }

  .button-big {
    height: 90%;
    width: 90%;
    color: black;
    text-align: center;
    text-transform: none;
    overflow: hidden;
  }
  .button-big-icon {
    width: 100%;
    height: 80%;
    padding-bottom: 20px;
    overflow: hidden;
  }
  .button-big-text {
    width: 100%;
    height: 20%;
    font-size: 10px;
    text-align: center;
    text-transform: none;
    overflow: hidden;
  }

  .rowB {
    width: 100%;
    height: 50%;
  }

  .colB {
    width: 50%;
    height: 100%;
  }
}
