// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:      #15E1AE,
  secondary:    #FFDD5A,
  danger:       #FF6E40,
  light:        #E1E1E1,
  dark:         #4A4A4A,
  yellowElem:   #FFCE0F,
  yellowDark:   #F5A623,
  yellowDarker: #C49700,
  greenDark:    #008864,
  answerPos:    #78E4C9,
  answerNeg:    #FFD0C1,
  greyDark:     #4A4A4A,
  greyNormal:   #9B9B9B,
  greyBright:   #E1E1E1,
  gradientStart: #FFD73F,
  gradientStop: #FFDE61
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$button-ios-border-radius: 10px;
$button-ios-text-color: white;
$button-ios-outline-border-color: white;
$button-ios-outline-border-width: 2px;
$button-ios-outline-text-color: white;

$text-input-ios-show-focus-highlight: false;
$text-input-ios-background-color: white;

$tabs-ios-tab-color-inactive: #616161;
$tabs-ios-tab-color-active: #29c49a;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$button-md-border-radius: 10px;
$button-md-font-size: 2rem;
$button-md-height: 2.8em;
$button-md-text-color: white;
$button-md-outline-border-color: white;
$button-md-outline-border-width: 2px;
$button-md-outline-text-color: white;

$text-input-md-show-focus-highlight: false;
$text-input-md-background-color: white;

$tabs-md-tab-color-inactive: #616161;
$tabs-md-tab-color-active: #29c49a;

$label-md-text-color: black;
$label-md-text-color-focused: black;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
