// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.card {
  border-radius: 8px;
}

.hint {
  color: color($colors, primary);
  padding: 15%;
  text-align: center;
}


.logo-area {
  background-color: color($colors, primary);
  color: white;
}

.scroll-content {
  overflow-y: auto;
}

.button {
  text-transform: none;
}

.button-block {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.input, .select, .datetime {
  background-color: white;
  border-radius: 6px;
}

.datetime {
  padding-top: 8px;
  padding-bottom: 8px;
}

.input-area .item {
  background-color: color($colors, secondary);

  .label {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.4em;
    font-size: 0.8em;
    font-weight: 500;
  }

  .label-small {
    width: 90%;
    margin-top: -2px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.6em;
    font-weight: 400;
  }

  .input, .select, .datetime {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
  }
}

//////////////// Display the same navbar and tabbar shadows in iOS as in Android ///////////////
.tabs-ios,
.tabbar,
.toolbar-background-ios {
  border: none !important;
}

.header-ios::after,
.tabs-ios[tabsPlacement="top"] > .tabbar::after,
.footer-ios::before,
.tabs-ios[tabsPlacement="bottom"] > .tabbar::before {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
  background-repeat: repeat-x;
  background-position: 0 -2px;
  content: "";
}

.footer-ios::before,
.tabs-ios[tabsPlacement="bottom"] > .tabbar::before {
  top: -2px;
  bottom: auto;
  height: 2px;
  background-position: 0 0;
}

.header-ios[no-border]::after,
.footer-ios[no-border]::before,
.tabs-ios[tabsPlacement="top"][no-border] > .tabbar::after,
.tabs-ios[tabsPlacement="bottom"][no-border] > .tabbar::before {
  display: none;
}
