page-news {
  .card-header {
    color: map-get($colors, dark);
    font-size: small;
    padding-top: 10px;
    padding-bottom: 0px;
  }

  .card-title {
    font-size: huge;
    font-weight: 500;
  }
}

