<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'MAINMENU.OPENQUESTIONS' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-scroll scrollY="true" scrollbar="false" style="height: 100%">
    <ion-list no-lines>
      <ion-item *ngFor="let question of questions">
        <ion-card>
          <ion-card-header>
            <span *ngFor="let tag of loadTags(question)">
              #{{tag.text}}
            </span>
          </ion-card-header>
          <ion-card-content>
            <p text-wrap>{{question.text}}</p>
          </ion-card-content>
          <ion-row>
            <ion-col align-self-center text-center>
              <div>
                <button ion-button icon-only clear>
                  <ion-icon name="thumbs-up"></ion-icon>
                </button>
              </div>
              <div>
                <ion-badge item-right>{{question.upvotes}}</ion-badge>
              </div>
            </ion-col>
            <ion-col align-self-center text-center>
              <div>
                <button ion-button icon-only clear>
                  <ion-icon name="thumbs-down"></ion-icon>
                </button>
              </div>
              <div>
                <ion-badge item-right>{{question.downvotes}}</ion-badge>
              </div>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-item>
    </ion-list>
  </ion-scroll>
</ion-content>
