page-myQuestions {
  .fixed-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h2 {
      color: color($colors, primary);
      padding: 15%;
    }
  }
}
