.scroll-content{
  overflow: hidden;
}
.welcome-content {
  color: grey;
}
.welcome-content .header{
  text-align: center;
  margin-top: 20%;
  padding: 10%;
  padding-bottom: 30%;
  font-size: 20px;
  color: red;
}
.welcome-content .button-area {
  text-align: center;
}
.welcome-content .button {
  text-align: center;
  width: 60%;
}
