like-bar {

  .like-outer {
    width: 96%;
    padding: 3px;
    text-align: center;
  }

  .like-left {
    float: left;
    min-width: 5%;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    border-radius: 20px;
    background-color: mediumseagreen;
  }

  .like-center {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 20px;
  }

  .like-right {
    float: right;
    min-width: 5%;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    border-radius: 20px;
    background-color: indianred;
  }

}
