answer-bubble {

  .message-answer {
    font-size: medium;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  .message-answer-detail {
    white-space: nowrap;
    font-size: 14px;
  }

  .answer-bubble {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    margin-bottom: 28px;
    width: 100%;
  }

  .answer-bubble:before {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -26px;
    width: 36px;
  }

  .answer-bubble.unvoted {
    background-color: #e1e1e1;
  }

  .answer-bubble.unvoted:before {
    content:url('/assets/icon/lasche_mitte_grau.svg');
  }

  .answer-bubble.voted {
    background-color: map-get($colors, primary);
  }

  .answer-bubble.voted:before {
    content:url('/assets/icon/lasche_mitte_gruen.svg');
  }
    float: right;
  }

  }

}
