question-bubble {
  $bubble: (
    radius: 6px,
    answer-height: 30px,
  );

  img {
    pointer-events: none;
  }

  .tags {
    font-weight: bold;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .message {
    font-size: medium;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  .answers {
    z-index: -1;
    position: relative;
    bottom: map-get($bubble, answer-height);
    margin: auto;
    margin-top: 0;
    margin-bottom: -1 * map-get($bubble, answer-height);
    width: 8em;
    background-color: color($colors, danger);
    color: white;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 2px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.6);
  }

  .question-bubble {
    border-top-left-radius: map-get($bubble, radius);
    border-top-right-radius: map-get($bubble, radius);
    border-bottom-right-radius: map-get($bubble, radius);
    padding: 10px 18px;
    position: relative;
    margin-bottom: map-get($bubble, answer-height);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4px;
    width: 90%;
    background-color: color($colors, light);
    border: 1px solid darken(color($colors, light), 10%);
    box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.3);

    .lasche {
      position: absolute;
      bottom: -29px;
      width: 36px;
      fill: color($colors, light);
      stroke: darken(color($colors, light), 10%);
      left: -1px;
    }
  }

  .question-bubble.voted {
    background-color: color($colors, primary);
    border: 1px solid darken(color($colors, primary), 10%);
    border-bottom-left-radius: map-get($bubble, radius);
    border-bottom-right-radius: initial;

    .lasche {
      transition: 1s linear;
      fill: color($colors, primary);
      stroke: darken(color($colors, primary), 10%);
      left: 100%;
      transform: translateX(-97%) scale(-1,1);
    }
  }

  .votebar {
    position: relative;
    width: 100%;
    height: 60px;

    .downvote, .upvote, .community, .me {
       position: absolute;
    }

    .downvote, .upvote, .me {
      opacity: 0;
    }

    .downvote, .upvote {
      margin-top: 9px;
      height: 49px;
      line-height: 49px;
      width: 45%;

      img { vertical-align: middle; }
    }

    .downvote {
      border-radius: 24px 0 0 24px;
      color: color($colors, danger);
      background: linear-gradient(to left, #fff , color($colors, answerNeg));
      text-align: left;
      left: 0;

      img {
        padding-left: 15px;
      }
    }

    .upvote {
      border-radius: 0 24px 24px 0;
      color: color($colors, greenDark);
      background: linear-gradient(to right, #fff , color($colors, answerPos));
      text-align: right;
      right: 0;

      img {
        padding-right: 15px;
      }
    }

    .community {
      text  { fill: color($colors, yellowElem); }
    }

    .me {
      right: 0;
      text  { fill: color($colors, yellowElem); }
    }
  }

  .votebar.voted {
    .community {
      transition: 1s linear;
      opacity: 0;
      left: 100%;
      transform: translateX(-50%);
    }

    .me {
      transition: 1s linear;
      opacity: 1;
    }
  }
}
