question-bubble {
  $bubble: (
    radius: 6px,
    answer-height: 30px,
  );


  .tags {
    font-weight: bold;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .message {
    font-size: medium;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  .message-detail {
    white-space: nowrap;
    font-size: 14px;
  }

  .answers {
    position: relative;
    bottom: map-get($bubble, answer-height);
    margin: auto;
    width: 8em;
  }

  .answers div {
    background-color: map-get($colors, danger);
    color: white;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 2px;
    width: inherit;
  }

  .question-bubble {
    border-top-left-radius: map-get($bubble, radius);
    border-top-right-radius: map-get($bubble, radius);
    padding: 10px 18px;
    position: relative;
    margin-bottom: map-get($bubble, answer-height);
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

  .question-bubble:before {
    position: absolute;
    bottom: -29px;
  }

  .question-bubble.left {
    background-color: map-get($colors, light);
    border: 1px solid #d1d1d1;
    border-bottom-right-radius: map-get($bubble, radius);
//    float: left;
  }

  .question-bubble.left:before {
    content:url('/assets/icon/lasche_grau.svg');
    left: -1px;
  }

  .question-bubble.right {
    background-color: map-get($colors, primary);
    border: 1px solid #15d7a9;
    border-bottom-left-radius: map-get($bubble, radius);
//    float: right;
  }

  .question-bubble.right:before {
    content:url('/assets/icon/lasche_gruen.svg');
    right: -1px;
  }

  .community .badge {
    position: relative;
    top: -44px;
    left: -54px;
    color: map-get($colors, yellowElem);
  }

  .upvote {
    display: inline-block;
    border-radius: 0 24px 24px 0;
    color: map-get($colors, greenDark);
    background: linear-gradient(to right, #fff , #65e3c4);
    margin-top: 8px;
    height: 48px;
    line-height: 48px;
    width: 45%;
    text-align: right;
    float: right;
  }

  .upvote img {
    vertical-align: middle;
    padding-right: 15px;
  }

  .me {
    float: right;
  }

  .me .badge {
    position: relative;
    top: -44px;
    left: 54px;
    color: map-get($colors, yellowElem);
  }

}
