<div class="question-bubble {{question.voted ? 'right' : 'left'}}"><!-- TODO make left/right an option of the component -->
  <div class="tags"><span *ngFor="let tag of loadTags(question)" (click)="tagClick.emit(tag)">#{{tag.text}} </span></div>
  <div class="message" (click)="textClick.emit(question)">{{question.text}}</div>
</div>
<div class="answers" translate [translateParams]="{value: question.answers.length}" (click)="textClick.emit(question)">
  {{question.answers.length == 1 ? 'BUBBLE.ANSWER' : 'BUBBLE.ANSWERS'}}
</div>
<div class="community" *ngIf="!question.voted">
  <img src="assets/icon/99999.svg">
  <span class="badge">{{question.upvotes}}</span>
  <a class="upvote" translate (click)="upvote.emit(question)">BUBBLE.GOOD <img src="assets/icon/+icon.svg"></a>
</div>
<div class="me" *ngIf="question.voted">
  <span class="badge">{{question.upvotes}}</span>
  <img src="assets/icon/99999+me.svg">
</div>
