<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ 'TABS.MATCH' | translate }}</ion-title>
    <button ion-button menuToggle="right" end>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div
    swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="upvote()" (throwoutright)="downvote()"
    id="card-stack"
  >
    <ion-card class="card" #mycards1 swing-card *ngFor="let question of questions">
      <ion-card-header>
        <span *ngFor="let tag of question.tags">#{{allTags[tag].text}} </span>
      </ion-card-header>
      <ion-card-content>
        <p>{{question.text}}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-row>
    <ion-col>
        <div class="circle">
          <span>{{currentQuestion.upvotes}}</span>
        </div>
    </ion-col>
    <ion-col>
      <ion-img float-end class="image-me" src="assets/img/random_q_me.png"></ion-img>
    </ion-col>
  </ion-row>

  <div class="bar">
    <ion-img class="image" src="assets/img/random_q_bar.png"></ion-img>
  </div>
</ion-content>
