page-randomQuestions {
  .scroll-content {
    display: flex;

    .spacer {
      flex: 1;
    }
  }

  h2 {
    color: color($colors, primary);
    padding: 15%;
    text-align: center;
  }

  .votebar {
    height: 150px;

    .downvote, .upvote {
      top: 70px;
      opacity: 1;
    }
  }
}
