page-randomQuestions {
  ion-grid {
    display: flex;
    height: 100%;
  }

  ion-row {
    width: 100%;
  }

  .spacer {
    flex: 1;
  }

  .question-bubble.downvoted {
    transition: 1s linear;
    transform: translateX(-150%);
  }

  .votebar {
    height: 150px;

    .downvote, .upvote {
      top: 70px;
      opacity: 1;
    }
  }

  .votebar.upvoted {
    .upvote {
      opacity: 1 !important;
    }
  }
}
