<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle="right" end>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'SEARCH.SEARCH' | translate }}</ion-title>
  </ion-navbar>
  <ion-toolbar color="primary">
    <ion-searchbar type="text" placeholder="{{ 'TABS.SEARCH' | translate }}" [(ngModel)]="selectedTag.text" (ionInput)="refreshTags($event)" (click)="showTagList()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="showTags">
    <ion-list no-lines>
      <ion-item *ngFor="let tag of tags" (click)="selectTag(tag)">
        #{{ tag.text }}
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="!showTags">
    <ion-list no-lines>
      <ion-item *ngFor="let question of questions">
        <question-bubble [question]="question" (textClick)="loadAnswerPage($event)" (tagClick)="loadQuestionsByTag($event)" (upvote)="upvoteQuestion($event)"></question-bubble>
      </ion-item>
    </ion-list>
  </div>

  <h2 translate ion-fixed *ngIf="!showTags && (questions === undefined || questions.length == 0)">SEARCH.EMPTY</h2>

</ion-content>
