page-search {
  ion-title {
    flex: 0;
    padding: 10px;
  }

  ion-content > .scroll-content {
    display: flex;
    flex-direction: column;
  }

  ion-content > .fixed-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h2 {
      color: color($colors, primary);
      padding: 15%;
    }
  }

  ion-scroll {
    flex-grow: 1;
  }
}
