<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle="right" end>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'SEARCH.SEARCH' | translate }}</ion-title>
  </ion-navbar>
  <ion-toolbar color="primary">
    <ion-select [(ngModel)]="selectedTags" multiple="true"
      placeholder="{{ 'ENTERQUESTION.TAG_QUESTION' | translate }}"
      cancelText="{{ 'CANCEL' | translate }}" [selectOptions]="selectOptions"
      (ionChange)="selectTags($event)"
    >
      <ion-option *ngFor="let tag of tags" [value]="tag.id">#{{tag.text}}</ion-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="loadQuestionsForTags()" [enabled]="selectedTags !== undefined && selectedTags.length > 0">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item *ngFor="let question of questions">
      <question-bubble [question]="question" (textClick)="loadAnswerPage($event)" (tagClick)="selectedTags = [$event.id]" (upvote)="upvoteQuestion($event)"></question-bubble>
    </ion-item>
  </ion-list>
  <h2 translate ion-fixed *ngIf="refresher.state == 'inactive' && (selectedTags !== undefined && selectedTags.length > 0) && (questions === undefined || questions.length == 0)">SEARCH.EMPTY</h2>
  <h2 translate ion-fixed *ngIf="selectedTags === undefined || selectedTags.length == 0">ENTERQUESTION.TAG_QUESTION</h2>
</ion-content>
