page-search {
  ion-header {
    ion-navbar {
      border-bottom: 1px solid darken(color($colors, primary), 2%);
    }
    ion-toolbar {
      border-top: 1px solid lighten(color($colors, primary), 10%);
    }
  
    .select {
      max-width: 100% !important;
      margin: 0 8px;
      padding-top: 9px;
      padding-bottom: 7px;
      border: 0.5px solid darken(color($colors, primary), 2%);
      box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
    }
  }

  ion-content > .fixed-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
