page-search {
  ion-header .select {
    max-width: 100% !important;
    background-color: white;
  }

  ion-content > .fixed-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .spinner {
      width: 100%;
    }
    h2 {
      color: color($colors, primary);
      padding: 15%;
    }
  }
}
