<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle="right" end>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'SEARCH.TITLE' | translate }}</ion-title>
  </ion-navbar>
  <ion-toolbar color="primary">
    <ion-select [(ngModel)]="selectedTags" multiple="true"
      placeholder="{{ 'SEARCH.SELECT_TAGS' | translate }}"
      cancelText="{{ 'CANCEL' | translate }}" [selectOptions]="{ title: 'SEARCH.SELECT_TAGS' | translate }"
      (ionChange)="selectTags($event)"
    >
      <ion-option *ngFor="let tag of tags" [value]="tag.id">#{{tag.text}}</ion-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="hint" translate ion-fixed *ngIf="refresher.state == 'inactive' && (selectedTags && selectedTags.length) && !(questions && (questions['up_unvoted'].length || questions['downvoted'].length))">SEARCH.EMPTY</h2>
  <h2 class="hint" translate ion-fixed *ngIf="!(selectedTags && selectedTags.length)">SEARCH.SELECT_TAGS</h2>

  <ion-refresher (ionRefresh)="loadQuestionsForTags()" [enabled]="selectedTags && selectedTags.length && !voting">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item *ngFor="let question of questions['up_unvoted']">
      <question-bubble [question]="question" [enableDownvote]="false" [enableUpvote]="refresher.state == 'inactive'"
                       (textClick)="loadAnswerPage($event)" (tagClick)="selectedTags = [$event.id]"
                       (upvote)="upvoteQuestion($event)" (voting)="voting=$event">
      </question-bubble>
    </ion-item>
    <ion-item-divider *ngIf="questions && questions['downvoted'].length">{{ 'SEARCH.DOWNVOTED' | translate }}</ion-item-divider>
    <ion-item *ngFor="let question of questions['downvoted']">
      <question-bubble [question]="question" [enableDownvote]="false" [enableUpvote]="refresher.state == 'inactive'"
                       (textClick)="loadAnswerPage($event)" (tagClick)="selectedTags = [$event.id]"
                       (upvote)="upvoteQuestion($event)" (voting)="voting=$event">
      </question-bubble>
    </ion-item>
  </ion-list>
</ion-content>
