.scroll-content{
  overflow: hidden;
}
.signUp-content {
  color: grey;
}
.signUp-content .header{
  text-align: center;
  margin-top: 20%;
  padding: 10%;
  padding-bottom: 0%;
  font-size: 20px;
  color: red;
}
.signUp-content .input-field {
  padding: 5px;
  margin: 5%;
  alignment: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.signUp-content .ion-input {

}
.signUp-content .button-area {
  text-align: center;
}
