page-signUp {
  .fixed-content {
    background-color: color($colors, secondary);
  }

  .scroll-content {
    background-color: color($colors, secondary);
  }

  .logo-area {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    font-size: 7vw;
  }

  .title {
    padding: 1em 0em 0em 1em;
    font-size: 1.8em;
    font-weight: 500;
    text-align: center;
  }

  .subtitle {
    padding: 2em;
    font-size: 1.3em;
    text-align: center;
  }

  .input-area {
    margin-bottom: auto;
  }

  .notice {
    margin: 0;
    font-size: 1.2em;
    word-wrap: break-word;
    white-space: pre-wrap;
    text-color: black;

    a {
      text-color: black;
    }
  }

  .button-area {
    margin-bottom: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
  }
}
