.signUp-content{

  overflow: hidden !important;
  background-color: color($colors, secondary);

  .title-area {
    background-color: color($colors, primary);
    width: 100%;
    position: relative;
    display: table;

    .logo-area {
      width: 100%;
      display: table;
      height: 100%;

      .logo {
        display: table-cell;
        vertical-align: middle;
        font-size: 10vw;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        color: white;
      }
    }
  }

  .input-area {
    background-color: color($colors, secondary);
    margin-bottom: auto;

    .title {
      font-size: 1.6em;
      font-weight: bold;
    }

    .input-item {
      background-color: color($colors, secondary);
      display: table;
      width: 100%;

      .input-label {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1em;
        color: black;
      }

      .input-label-small {
        width: 95%;
        margin-top: -2px;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.8em;
        color: black;
      }

      .ion-input {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
      }
    }

    .ion-input::after {
      border-bottom-color: transparent !important;
    }
  }

  .button-area {
    width: 100%;
    display: table;
    background-color: color($colors, secondary);

    .label{
      font-size: 0.8em;
      text-color: black;
      margin: 2px;
      margin-top: 4px;
      display: inline-block;
      text-align: left;
      background: color($colors, secondary);
    }
    .labelClickable{
      text-decoration: underline;
      text-underline: color($colors, dark);
      font-size: 0.8em;
      text-color: black;
      margin: 2px;
      margin-top: 4px;
      display: inline-block;
      text-align: left;
      background: color($colors, secondary);
    }

    .button {
      height: 7vh;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2vh;
      text-align: center;
      text-transform: none;
      overflow: hidden;
    }

    .button-text {
      font-size: 1.2em;
    }

    .button-filled {
      background-color: color($colors, primary);
      color: white;
    }

    .button-outlined {
      color: white;
      border-color: white;
      border-width: 2px;
    }

    .label-item{
      background: color($colors, secondary);
    }
  }
}
